@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.banner{
    background-image: url(../img/encanto.jpg);
    background-position: center;
    background-size: cover;
    width: 1970px;
    height: 966px;
    
}


.sinopse{
    background-color: green;
    border-radius: 10px;
    text-align: center;
    float: left;
    font-family: 'Cabin', sans-serif;
}

.info{
    background-color: green;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px ;
    float: right;
    font-family: 'Cabin', sans-serif;
}

.sinopse, .info, #img{
    display: inline-block;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

#img{
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 500px;
    margin-top: 40px;
    margin-left: 200px;
    background-position: center;
    background-size: cover;
}

#fala2{
    display: flex;
    background-image: url(../img/fala.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    align-items: center;
}
#fala3{
    display: flex;
    background-image: url(../img/fala.png);
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    align-items: center;
}
#fala2 p{
    padding: 25%;
    color: aliceblue;
}
#fala3 p{
    color: aliceblue;
    padding: 25%;
}

.balao-img{
    position: absolute;
}

.texto{
    position: absolute;
    left: 250px;
    top: 135px;
    font-style: italic;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

.container-falas{
    height: 600px;
    margin-top: 50px;
    position: relative;
    border: 10px solid darkseagreen;
    
}
#fala2, #fala3{
    display: inline-block;
    align-items: center;
    align-content: center;
}
#fala2{
    margin-left: 650px;
    margin-right: 70px;
}

.sticks{
    position: sticky;
    top: 10px;
}

.diretores{
 border: 10px solid darkseagreen;
 margin-bottom: 50px;
 margin-top: 50px;
}

#byron{
    margin-left: 650px;
    margin-right: 70px;
}

.legenda{
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.trailler{
    text-align: center;
    border: 10px solid darkseagreen;
    margin-top: 50px;
}

.chat{
    text-align: right;
}

.estrela{
    width: 60px;
    height: 60px;
    font-size: x-large;
    color: aliceblue;
    position: sticky;
    top: 10px;
    text-align: left;
}

.melhores-musicas{
    border: 10px solid darkseagreen;
    text-align: center;
}

.melhores-musicas iframe{
    margin: 10px;
    margin-bottom: 50px;
    border: 2px solid darkcyan;
}

.voltar{
    color: aliceblue;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;    
}